<div class="col-xs-12 border-normal">
  <div class="col-sm-12">
  <span>角色编辑</span>
  <span>角色新增</span>
    <hr/>
  </div>
  <form class="col-xs-10 col-xs-offset-1" name="myForm" novalidate>
    <div class="form-group col-xs-12 account-form">
        <label class="col-xs-6 col-sm-2" for="role">角色名</label>
        <input class="account-form-control col-xs-6 col-sm-10" type="text" ng-model="ctrl.role.name" required/>
    </div>
    <div class="form-group col-sm-12">
      <strong class="col-sm-2">权限</strong>
      <div class="col-sm-10">
        <ul class="role-tree">
          <li>

            <div class="form-group">
                <label class="col-xs-2 col-sm-10" for="roleAll">全选／全不选
                  <input class="col-xs-1" id="roleAll" type="checkbox" ng-model="ctrl.all" ng-ckecked="true" ng-change="ctrl.chan(ctrl.all)">
                </label>
            </div>
          </li>
          <li ng-repeat="x in ctrl.moduleP">
            <div class="form-group">
                <label class="col-xs-2 col-sm-6 col-sm-offset-1"> 
                {{x.name}}
                <input class="col-xs-1" name="{{x.id}}" type="checkbox" ng-checked="ctrl.all" ng-model="cModule" ng-change="ctrl.chang(x.id,cModule)">
                </label>
            </div>
            <div class="form-group col-xs-12" ng-repeat="y in x.c">
                <label class="col-xs-2 col-sm-2 col-sm-offset-2">
                {{y.name}}
                <input class="col-xs-2" type="checkbox" name="{{y.id}}" ng-checked="cModule||ctrl.all" ng-model="cCModule" ng-change="ctrl.change(y.id,(cCModule))">
                </label>
                <label class="col-xs-2 col-sm-2">新增               
                  <input class="col-xs-3" type="checkbox" ng-checked="cModule||ctrl.all||cCModule||ctrl.role.permissionsSet[y.id][0]" ng-model="ctrl.role.permissionsSet[y.id][0]" ng-true-value="'create'" ng-false-value="''" ng-change="ctrl.changes(0,ctrl.role.permissionsSet[y.id][0],y.id)">
                </label>
                <label class="col-xs-2 col-sm-2">编辑               
                  <input class="col-xs-3" type="checkbox" ng-checked="cModule||ctrl.all||cCModule||ctrl.role.permissionsSet[y.id][1]" ng-model="ctrl.role.permissionsSet[y.id][1]" ng-true-value="'update'" ng-false-value="''" ng-change="ctrl.changes(1,ctrl.role.permissionsSet[y.id][1],y.id)">
                </label>
                <label class="col-xs-2 col-sm-2">删除           
                  <input class="col-xs-3" type="checkbox" ng-checked="cModule||ctrl.all||cCModule||ctrl.role.permissionsSet[y.id][2]" ng-model="ctrl.role.permissionsSet[y.id][2]" ng-true-value="'delete'" ng-false-value="''" ng-change="ctrl.changes(2,ctrl.role.permissionsSet[y.id][2],y.id)">
                </label>
                <label class="col-xs-2 col-sm-2">排序          
                  <input class="col-xs-3" type="checkbox" ng-checked="cModule||ctrl.all||cCModule||ctrl.role.permissionsSet[y.id][3]" ng-model="ctrl.role.permissionsSet[y.id][3]" ng-true-value="'sort'" ng-false-value="''" ng-change="ctrl.changes(3,ctrl.role.permissionsSet[y.id][3],y.id)">
                </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-success col-xs-4" ng-disabled="myForm.$invalid" ng-click="ctrl.new()">保存</button>
    <button class="btn btn-danger col-xs-4 col-xs-offset-4" back>取消</button>
  </form>
</div>